.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #11ca00;
  color: white;
}

.btn-primary:hover {
  background-color: #21e20f;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #545b62;
}

.btn-danger {
  background-color: #a80011;
  color: white;
}

.btn-danger:hover {
  background-color: #e90017;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

